USE [master]
GO
/****** Object:  Database [dbLifeline]    Script Date: 12/03/2016 1:48:34 PM ******/
CREATE DATABASE [dbLifeline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbLifeline', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLWIN102014\MSSQL\DATA\dbLifeline.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbLifeline_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLWIN102014\MSSQL\DATA\dbLifeline_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbLifeline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbLifeline]
GO
/****** Object:  Table [dbo].[Ambulance]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ambulance](
	[AmbulanceID] [int] IDENTITY(1,1) NOT NULL,
	[AmbulanceName] [nvarchar](50) NULL,
	[AmbulanceStatus] [nvarchar](50) NULL,
	[PlateNo] [nvarchar](20) NULL,
	[DateAdded] [date] NULL,
	[DateModified] [date] NULL,
 CONSTRAINT [PK_Ambulance] PRIMARY KEY CLUSTERED 
(
	[AmbulanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Applications]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Birthday] [date] NULL,
	[Street] [nvarchar](50) NULL,
	[Municipality] [nvarchar](80) NULL,
	[City] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Status] [nvarchar](10) NULL,
	[DateSubmitted] [date] NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationVoids]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationVoids](
	[VoidID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NULL,
	[Timestamp] [datetime] NULL,
	[Reason] [nvarchar](100) NULL,
 CONSTRAINT [PK_ApplicationVoids] PRIMARY KEY CLUSTERED 
(
	[VoidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Articles]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleType] [nvarchar](50) NULL,
	[Others] [nvarchar](80) NULL,
	[DateSubmitted] [datetime] NULL,
	[ArticlePic] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Summary] [nvarchar](max) NULL,
	[Body] [nvarchar](max) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AutomaticRenewal]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutomaticRenewal](
	[AutoRenewalID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RemindMe] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Type] [nvarchar](100) NULL,
	[RemindMeStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_AutomaticRenewal] PRIMARY KEY CLUSTERED 
(
	[AutoRenewalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[RegionID] [int] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactCategory]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactCategory](
	[RelationshipID] [int] IDENTITY(1,1) NOT NULL,
	[Relationship] [nvarchar](50) NULL,
 CONSTRAINT [PK_ContactCategory] PRIMARY KEY CLUSTERED 
(
	[RelationshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CorporateAccounts]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorporateAccounts](
	[CorporateID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[Name] [nvarchar](50) NULL,
	[NatureOfBusiness] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Municipality] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Others] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[DateAdded] [date] NULL,
	[EmployerCode] [nvarchar](10) NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK_CorporateAccounts] PRIMARY KEY CLUSTERED 
(
	[CorporateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CorporatePayments]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorporatePayments](
	[CorporatePaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTerms] [nvarchar](20) NULL,
	[Balance] [decimal](18, 2) NULL,
	[CorporateID] [int] NULL,
	[DiscountRate] [decimal](18, 0) NULL,
	[Length] [int] NULL,
 CONSTRAINT [PK_CorporatePayments] PRIMARY KEY CLUSTERED 
(
	[CorporatePaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dependents]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependents](
	[DependentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](80) NULL,
	[LastName] [nvarchar](80) NULL,
	[Birthday] [date] NULL,
	[Relationship] [nvarchar](50) NULL,
	[OtherRel] [nvarchar](50) NULL,
	[MembershipID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Dependents] PRIMARY KEY CLUSTERED 
(
	[DependentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DepositPayments]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepositPayments](
	[DepositID] [int] IDENTITY(1,1) NOT NULL,
	[CorporatePaymentID] [int] NULL,
	[DepositSlip] [nvarchar](max) NULL,
	[PaymentDate] [date] NULL,
	[Amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_DepositPayments] PRIMARY KEY CLUSTERED 
(
	[DepositID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dispatch]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispatch](
	[DispatchID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Dispatcher] [nvarchar](80) NULL,
	[DispatchDate] [date] NULL,
	[Ambulance] [nvarchar](80) NULL,
	[TeamLeader] [nvarchar](100) NULL,
	[TransportOfficer] [nvarchar](100) NULL,
	[TreatmentOfficer] [nvarchar](100) NULL,
	[ReceivingHospital] [nvarchar](80) NULL,
 CONSTRAINT [PK_Dispatch] PRIMARY KEY CLUSTERED 
(
	[DispatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exceptions]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exceptions](
	[ExceptionID] [int] IDENTITY(1,1) NOT NULL,
	[Page] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[UserID] [int] NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_Exceptions] PRIMARY KEY CLUSTERED 
(
	[ExceptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[HospitalID] [int] IDENTITY(1,1) NOT NULL,
	[HospitalName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Municipality] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[DateAdded] [date] NULL,
	[DateModified] [date] NULL,
 CONSTRAINT [PK_Hospitals] PRIMARY KEY CLUSTERED 
(
	[HospitalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogsID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[LogType] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Timestamp] [date] NULL,
	[Specifics] [nvarchar](50) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MedicalHistory]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalHistory](
	[MedHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DispatchID] [int] NULL,
	[Operation] [nvarchar](50) NULL,
	[Details] [nvarchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[MedHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MedicalInfo]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalInfo](
	[MedicalInfoID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BloodType] [nvarchar](50) NULL,
	[Allergies] [nvarchar](100) NULL,
	[CancerHis] [nvarchar](10) NULL,
	[HeartHis] [nvarchar](10) NULL,
	[AsthmaHis] [nvarchar](10) NULL,
	[EpilepsyHis] [nvarchar](10) NULL,
	[LiverHis] [nvarchar](10) NULL,
	[Others] [nvarchar](50) NULL,
 CONSTRAINT [PK_MedicalInfo] PRIMARY KEY CLUSTERED 
(
	[MedicalInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[MembershipID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Length] [int] NULL,
	[MembershipStatus] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Membership] PRIMARY KEY CLUSTERED 
(
	[MembershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[MessageCat] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[DateSubmitted] [datetime] NULL,
	[Message] [nvarchar](max) NULL,
	[UserID] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpportunityActivity]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpportunityActivity](
	[OpportunityActivityID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[AllDay] [bit] NULL,
	[Subject] [nvarchar](20) NULL,
	[Location] [nvarchar](20) NULL,
	[Description] [nvarchar](20) NULL,
	[Status] [int] NULL,
	[Label] [int] NULL,
	[ResourceID] [int] NULL,
	[ResourceIDs] [nvarchar](max) NULL,
	[ReminderInfo] [nvarchar](max) NULL,
	[RecurrenceInfo] [nvarchar](max) NULL,
	[CustomField] [nvarchar](max) NULL,
	[OpportunityID] [int] NULL,
 CONSTRAINT [PK_OpportunityActivity] PRIMARY KEY CLUSTERED 
(
	[OpportunityActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpportunityTracking]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpportunityTracking](
	[OpportunityID] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NULL,
	[AccountName] [nvarchar](20) NULL,
	[Rating] [nvarchar](20) NULL,
	[Details] [nvarchar](100) NULL,
	[Source] [nvarchar](50) NULL,
	[DateAdded] [date] NULL,
	[DateModified] [date] NULL,
	[CloseDate] [date] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Probability] [decimal](18, 0) NULL,
	[Stage] [nvarchar](20) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[PhoneNo] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Priority] [nvarchar](10) NULL,
 CONSTRAINT [PK_OpportunityTracking] PRIMARY KEY CLUSTERED 
(
	[OpportunityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[DepositSlip] [nvarchar](max) NULL,
	[MembershipID] [int] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recover]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recover](
	[RecoverID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RecoveryCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Recover] PRIMARY KEY CLUSTERED 
(
	[RecoverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RenewalVoids]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenewalVoids](
	[VoidID] [int] IDENTITY(1,1) NOT NULL,
	[MembershipID] [int] NULL,
	[Timestamp] [datetime] NULL,
	[Reason] [nvarchar](100) NULL,
 CONSTRAINT [PK_RenewalVoids] PRIMARY KEY CLUSTERED 
(
	[VoidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Responder]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responder](
	[ResponderID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[DateAdded] [date] NULL,
	[DateModified] [date] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ResponderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SecondaryContact]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecondaryContact](
	[SecondaryContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FirstName] [nvarchar](80) NULL,
	[LastName] [nvarchar](80) NULL,
	[TelNo] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[RelationshipID] [int] NULL,
	[Others] [nvarchar](50) NULL,
 CONSTRAINT [PK_SecondaryContact] PRIMARY KEY CLUSTERED 
(
	[SecondaryContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surveys](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[QuestionOne] [nvarchar](50) NULL,
	[QuestionTwo] [nvarchar](50) NULL,
	[QuestionThree] [nvarchar](50) NULL,
	[QuestionFour] [nvarchar](50) NULL,
	[QuestionFive] [nvarchar](50) NULL,
	[QuestionSix] [nvarchar](50) NULL,
	[QuestionSeven] [nvarchar](50) NULL,
	[QuestionEight] [nvarchar](50) NULL,
	[QuestionNine] [nvarchar](50) NULL,
	[QuestionTen] [nvarchar](50) NULL,
	[Comments] [nvarchar](max) NULL,
	[DateSubmitted] [date] NULL,
 CONSTRAINT [PK_Surveys] PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempTable]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempTable](
	[TempID] [int] IDENTITY(1,1) NOT NULL,
	[DataA] [int] NULL,
	[DataB] [nvarchar](50) NULL,
 CONSTRAINT [PK_TempTable] PRIMARY KEY CLUSTERED 
(
	[TempID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Types]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserActivation]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivation](
	[ActivationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ActivationCode] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserActivation] PRIMARY KEY CLUSTERED 
(
	[ActivationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserIP]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIP](
	[UserIPID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[IPAddr] [nvarchar](100) NULL,
 CONSTRAINT [PK_UserIP] PRIMARY KEY CLUSTERED 
(
	[UserIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](80) NULL,
	[LastName] [nvarchar](80) NULL,
	[Birthday] [date] NULL,
	[UserPic] [nvarchar](max) NULL,
	[Street] [nvarchar](50) NULL,
	[Municipality] [nvarchar](80) NULL,
	[City] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[DateAdded] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[FacebookID] [bigint] NULL,
	[Priority] [nvarchar](50) NULL,
	[CorporateID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Verification]    Script Date: 12/03/2016 1:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verification](
	[ScanID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[VerificationScan] [nvarchar](max) NULL,
	[UploadDate] [date] NULL,
 CONSTRAINT [PK_Verification] PRIMARY KEY CLUSTERED 
(
	[ScanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Ambulance] ON 

INSERT [dbo].[Ambulance] ([AmbulanceID], [AmbulanceName], [AmbulanceStatus], [PlateNo], [DateAdded], [DateModified]) VALUES (1, N'Brown', N'Active', N'SER 784', CAST(N'2016-01-01' AS Date), CAST(N'2016-03-05' AS Date))
INSERT [dbo].[Ambulance] ([AmbulanceID], [AmbulanceName], [AmbulanceStatus], [PlateNo], [DateAdded], [DateModified]) VALUES (2, N'Red', N'Active', N'RER 345', CAST(N'2016-01-01' AS Date), CAST(N'2016-02-25' AS Date))
INSERT [dbo].[Ambulance] ([AmbulanceID], [AmbulanceName], [AmbulanceStatus], [PlateNo], [DateAdded], [DateModified]) VALUES (3, N'Black', N'Active', N'AVW 147', CAST(N'2015-04-01' AS Date), CAST(N'2016-02-25' AS Date))
SET IDENTITY_INSERT [dbo].[Ambulance] OFF
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationID], [UserID], [FirstName], [LastName], [Email], [Birthday], [Street], [Municipality], [City], [Phone], [Mobile], [Status], [DateSubmitted]) VALUES (1, 2051, N'Juno', N'Temple', N'steven.tomas01@gmail.com', CAST(N'1993-04-02' AS Date), N'123 Taft Bldg.', N'Malate', N'Manila', N'542-2323', N'09453343423', N'Active', CAST(N'2016-02-11' AS Date))
INSERT [dbo].[Applications] ([ApplicationID], [UserID], [FirstName], [LastName], [Email], [Birthday], [Street], [Municipality], [City], [Phone], [Mobile], [Status], [DateSubmitted]) VALUES (2, 2049, N'Emma', N'Watson', N'emma.watson@email.com', CAST(N'1980-03-04' AS Date), N'21 Baker Street', N'Malate', N'Manila', N'1235677', N'12345443267', N'Voided', CAST(N'2016-02-11' AS Date))
INSERT [dbo].[Applications] ([ApplicationID], [UserID], [FirstName], [LastName], [Email], [Birthday], [Street], [Municipality], [City], [Phone], [Mobile], [Status], [DateSubmitted]) VALUES (3, 9, N'Cox', N'Carl', N'one@email.com', CAST(N'2001-07-11' AS Date), N'78', N'Village six', N'Quezon City', N'4541545', N'09453343423', N'Inactive', CAST(N'2016-02-18' AS Date))
SET IDENTITY_INSERT [dbo].[Applications] OFF
SET IDENTITY_INSERT [dbo].[ApplicationVoids] ON 

INSERT [dbo].[ApplicationVoids] ([VoidID], [ApplicationID], [Timestamp], [Reason]) VALUES (1, 2, CAST(N'2016-02-12 01:48:26.420' AS DateTime), N'Trying out this feature')
INSERT [dbo].[ApplicationVoids] ([VoidID], [ApplicationID], [Timestamp], [Reason]) VALUES (2, 2, CAST(N'2016-02-12 05:52:24.317' AS DateTime), N'Trying out this feature')
SET IDENTITY_INSERT [dbo].[ApplicationVoids] OFF
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([ArticleID], [ArticleType], [Others], [DateSubmitted], [ArticlePic], [Title], [Summary], [Body], [UserID]) VALUES (1, N'Company News', N'', CAST(N'2015-10-19 05:18:47.217' AS DateTime), N'900x300.png', N'Best so far', N'Someone is almost done', N'<p>
	The quick brown fox jumps over the lazy dog</p>
', 40)
INSERT [dbo].[Articles] ([ArticleID], [ArticleType], [Others], [DateSubmitted], [ArticlePic], [Title], [Summary], [Body], [UserID]) VALUES (2, N'Careers', N'', CAST(N'2015-10-19 05:20:18.097' AS DateTime), N'9425602a-4ac5-4d63-85e7-482dfa498158.png', N'Another One', N'Yet another one', N'<p>
	Wooooooooooo!!</p>
', 40)
INSERT [dbo].[Articles] ([ArticleID], [ArticleType], [Others], [DateSubmitted], [ArticlePic], [Title], [Summary], [Body], [UserID]) VALUES (3, N'Services', N'', CAST(N'2015-10-19 05:33:25.173' AS DateTime), N'63277607-aa2b-4f98-8014-3dc2fff0ca1a.jpg', N'Sample', N'Post something', N'<p>
	<span style="color:#000080;"><span style="font-size:16px;"><span style="font-family:tahoma,geneva,sans-serif;"><strong>The quick brown fox jumps over the lazy dog&nbsp;<img alt="cheeky" height="20" src="http://localhost:6202/ckeditor/plugins/smiley/images/tounge_smile.gif" title="cheeky" width="20" /></strong></span></span></span></p>
', 40)
INSERT [dbo].[Articles] ([ArticleID], [ArticleType], [Others], [DateSubmitted], [ArticlePic], [Title], [Summary], [Body], [UserID]) VALUES (4, N'Health News', N'', CAST(N'2015-10-19 23:15:41.560' AS DateTime), N'a26c8fc9-e4c5-487d-8ccc-2ba1e952da43.jpg', N'Sherlock Holmes and Dr. Watson decide to go on a camping trip. After dinner and a bottle of wine, they lay down for the night, and go to sleep.', N'', N'<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	The&nbsp;<a href="http://www.sunnyskyz.com/funny-jokes/20/Sherlock-Holmes-and-Dr-Watson-Go-Camping#IO8dOfJMJi0ZLi7P.99" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;">joke</a>&nbsp;goes like this:</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	Sherlock Holmes and Dr. Watson decide to go on a camping trip. After dinner and a bottle of wine, they lay down for the night, and go to sleep.</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	Some hours later, Holmes awoke and nudged his faithful friend.<br style="box-sizing: border-box;" />
	&ldquo;Watson, look up at the sky and tell me what you see.&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	Watson replied, &ldquo;I see millions of stars.&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	&ldquo;What does that tell you?&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	Watson pondered for a minute.</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	&ldquo;Astronomically, it tells me that there are millions of galaxies and potentially billions of planets.&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	&ldquo;Astrologically, I observe that Saturn is in Leo.&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	&ldquo;Horologically, I deduce that the time is approximately a quarter past three.&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	&ldquo;Theologically, I can see that God is all powerful and that we are small and insignificant.&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	&ldquo;Meteorologically, I suspect that we will have a beautiful day tomorrow.&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	&ldquo;What does it tell you, Holmes?&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px;">
	Holmes was silent for a minute, then spoke: &ldquo;Watson, you idiot. Someone has stolen our tent!&rdquo;</p>
', 41)
INSERT [dbo].[Articles] ([ArticleID], [ArticleType], [Others], [DateSubmitted], [ArticlePic], [Title], [Summary], [Body], [UserID]) VALUES (5, N'Health News', N'', CAST(N'2015-10-19 23:18:09.523' AS DateTime), N'900x300.png', N'The High Cost of High Cost', N'', N'<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px; padding-left: 0px !important; padding-right: 0px !important;">
	I admit, I was taken aback at the headline&nbsp;<a href="http://www.houstonpress.com/news/going-under-what-can-happen-if-your-anesthesiologist-leaves-the-room-during-an-operation-7842230" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">in the Houston Press</a>:</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px; padding-left: 0px !important; padding-right: 0px !important;">
	&ldquo;<em style="box-sizing: border-box;">Going Under: What Can Happen if your anesthesiologist leaves the room during an operation</em>.&rdquo;</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px; padding-left: 0px !important; padding-right: 0px !important;">
	The curious reader is bound to wonder why the anesthesiologist would leave the operating room in the first place.</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px; padding-left: 0px !important; padding-right: 0px !important;">
	Of course, reporter Dianna Wray explains that in many hospitals, one physician anesthesiologist often supervises multiple cases staffed by nurse anesthetists. This model of care is called the &ldquo;<a href="http://www.asahq.org/For-the-Public-and-Media/About-Profession.aspx" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">anesthesia care team</a>&ldquo;, and has a very long record of safe practice in nearly all major hospitals in the United States. Typically, the anesthesiologist makes rounds from one operating room to the next, checking on each case frequently, just as an internal medicine physician would round on patients in the hospital who are being monitored by their nurses.</p>
', 41)
INSERT [dbo].[Articles] ([ArticleID], [ArticleType], [Others], [DateSubmitted], [ArticlePic], [Title], [Summary], [Body], [UserID]) VALUES (6, N'Company News', N'', CAST(N'2015-10-19 23:19:04.880' AS DateTime), N'900x300.png', N'Five takeaways about the Theranos broo-ha-ha', N'', N'<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px; padding-left: 0px !important; padding-right: 0px !important;">
	You&rsquo;ve probably seen by now both that the&nbsp;<a href="http://www.wsj.com/articles/theranos-has-struggled-with-blood-tests-1444881901?mkt_tok=3RkMMJWWfF9wsRonvKvKZKXonjHpfsX66OkvWrHr08Yy0EZ5VunJEUWy2oABS9Q%2FcOedCQkZHblFnVQNSq29Wq4NqaML" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">WSJ&rsquo;s John Carreyrou&nbsp;has run a well researched hit piece on Theranos&nbsp;</a>and that the company, led by wunderkind Elizabeth Holmes, has somewhat&nbsp;<a href="http://www.fiercemedicaldevices.com/press-releases/statement-theranos" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">muffed its reply</a>. If you haven&rsquo;t, best thing is to read the Roger Parloff&nbsp;<a href="http://fortune.com/2015/10/15/theranos-elizabeth-holmes-wsj/" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">Fortune piece</a>&nbsp;which summarizes the pay-walled piece so you don&rsquo;t have to do the painful task of sending&nbsp;Rupert Murdoch money. Now in the spirit of FD I need to let you know that we&rsquo;ve invited Holmes to speak at&nbsp;<a href="http://health2con.com/" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">Health 2.0</a>twice and her PR handlers have been unbelievably hard to communicate with. They&rsquo;ve either flat out ignored us or taken forever to turn us down, even though she&rsquo;s appeared often at (what I at least consider) much less important or relevant venues. I have no idea if she&rsquo;s badly advised, wanting to stay away from sophisticated health tech audiences, or if her handlers decided that we and our 2,000 strong crowd&nbsp;are just not cool enough&nbsp;for her. Or maybe simply her calendar hasn&rsquo;t&nbsp;allowed it. Either way I have no first hand knowledge of her or the product&ndash;although Elizabeth our invite is still out there! But I do know five&nbsp;things.</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px; padding-left: 0px !important; padding-right: 0px !important;">
	1)&nbsp;<em style="box-sizing: border-box;"><strong style="box-sizing: border-box;">Lab business decentralizes &amp; democratizes.</strong></em>&nbsp;Whether or not Theranos is lying, cheating, not using its own tech, or its cool stuff just doesn&rsquo;t work, the trend towards comprehensive, cheap and soon at home lab testing is clear. More than 5 years ago a company called&nbsp;<a href="http://www.bioiq.com/solutions/bioiq-screen/" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">BioIQ&nbsp;</a>was selling at home fingerstick based cholesterol &amp; glucose tests. In the past year the two stage Nokia Sensing XCHALLENGE&nbsp;(of which we hosted stage 1 at Health 2.0 in 2013) has revealed a&nbsp;<a href="http://www.wired.com/2014/11/device-diagnoses-hundreds-diseases-using-single-drop-blood/" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">plethora&nbsp;</a>of&nbsp;<a href="http://sensing.xprize.org/press-release/nanobiosym-health-radar-brings-point-of-diagnosis-technology-directly" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">companies</a>&nbsp;taking minute quantities of blood, pee or spit and doing&nbsp;complex diagnosis from them. And it&rsquo;s not stopping there. The next phase is using l<a href="http://www.sandiegouniontribune.com/news/2014/nov/11/DMI-Qualcomm-XPrize-medical-Tricorder-Nokia/#comments-module" style="box-sizing: border-box; color: rgb(22, 109, 191); text-decoration: none !important; background: transparent;" target="_blank">ight and other sensors</a>&nbsp;to diagnose direct from the skin. Whether or not the locus of activity ends up using Theranos at&nbsp;Walgreens or the kitchen table using something else, the dam holding back continuous, cheap multi-faceted testing is going to burst soon.</p>
<p style="box-sizing: border-box; margin-top: 0px; font-family: Georgia, Times, ''Times New Roman'', serif; font-size: 22px; line-height: 32px; margin-bottom: 24px; padding-left: 0px !important; padding-right: 0px !important;">
	2)&nbsp;<strong style="box-sizing: border-box;">Theranos and Holmes are not the most important thing in health care.</strong>&nbsp;There, I&rsquo;ve said it. While Holmes has talked a lot about revolutionizing health care access and has given lots of transparency into Theranos&rsquo; pricing if not its testing technology, what they&rsquo;re up to is getting easier access to lab tests. I think this is very important and a very good thing, but no one can seriously believe that this is the biggest change in health care. It&rsquo;s part of a trend towards consumerism. But I&rsquo;d argue the most important trend in health care is the redesign of chronic care management, on which we spend a shed-load more than lab testing. I may be wrong but if you insert your pet issue here, I&rsquo;d bet it&rsquo;s not cheaper lab testing. The media has been a tad snowed by the &ldquo;youngest female billionaire&rdquo; and &ldquo;blonde Steve Jobs&rdquo; analogies, but even if she runs the field and takes over most lab testing, it&rsquo;s an incremental change not a huge revolution in health care.</p>
', 41)
INSERT [dbo].[Articles] ([ArticleID], [ArticleType], [Others], [DateSubmitted], [ArticlePic], [Title], [Summary], [Body], [UserID]) VALUES (7, N'Health News', N'', CAST(N'2015-10-19 23:19:25.347' AS DateTime), N'900x300.png', N'GET Funded Service – What did we learn?', N'', N'<div>
	Part of an EU-funded programme, the GET Funded service targeted European digital health SMEs looking for follow-up investments &ndash; typically between 0.5 and 2M &euro; &ndash; and was designed to provide them with training, resources and networking opportunities with European investors. In two years, we worked with 50 start-ups, trained and placed over 30 of them on stage to pitch in front of investors. What did we learn?</div>
<div>
	&nbsp;</div>
<div>
	The GET consortium started by identifying the European investors that were the most active in digital health: about a dozen dedicated funds plus a mix of corporate, health care, technology, and agnostic venture funds. We recruited about 40 we considered as &lsquo;active&rsquo;, a number that will grow as we witness the creation of new dedicated funds every year. 2015 saw the creation of one in particular that should be interesting to follow: AXA, already ahead of the game in terms of digital health reimbursements, now has a new dedicated investment fund.</div>
', 41)
INSERT [dbo].[Articles] ([ArticleID], [ArticleType], [Others], [DateSubmitted], [ArticlePic], [Title], [Summary], [Body], [UserID]) VALUES (8, N'Health News', N'', CAST(N'2015-10-19 23:19:43.130' AS DateTime), N'd7289e99-ad4e-433e-b5a2-21d2b686af2c.jpg', N'Medical Errors, Or Not', N'', N'In a recent post, the renowned neurologist, Martin Samuels, paid homage to the degree to which uncertainties create more than just anxious clinicians,they can lead to clinical errors. That post was followed by another  by Paul Levy, a former CEO of a Boston hospital, arguing that the errors can be diminished and the anxieties assuaged if institutions adhered to an efficient, salutary systems approach. Both Dr. Samuels and Mr. Levy anchor their perspective in the 1999 report of Institute of Medicine Report, “To Err is Human”, which purported to expose an alarming frequency of fatal iatrogenic errors. However, Dr. Samuels reads the Report as a documentation of the price we pay for imperfect knowledge; Mr. Levy as the price we pay for an imperfect organization of health care delivery. These two posts engendered numerous comments and several subsequent posts unfurling one banner or the other. 

 I crossed paths with Dr Samuels a long time ago when we were both speakers at a CME course held by the American Geriatrics Society and the American College of Physicians. I still remember his talk for its content and for its clinical perspective. His post on THCB is similarly worthy for championing the role of the physician in confronting the challenge of doing well by one patient at a time. Mr. Levy and his fellow travelers are convinced they can create settings and algorithms that compensate for the idiosyncrasies of clinical care. I will argue that there is nobility in Dr. Samuels’ quest for clinical excellence. I will further argue that Mr Levy is misled by systems theories that are more appropriate for rendering manufacturing industries profitable than for rendering patient care effective.', 41)
SET IDENTITY_INSERT [dbo].[Articles] OFF
SET IDENTITY_INSERT [dbo].[AutomaticRenewal] ON 

INSERT [dbo].[AutomaticRenewal] ([AutoRenewalID], [UserID], [RemindMe], [Status], [Type], [RemindMeStatus]) VALUES (1, 6, NULL, N'Disabled', NULL, NULL)
INSERT [dbo].[AutomaticRenewal] ([AutoRenewalID], [UserID], [RemindMe], [Status], [Type], [RemindMeStatus]) VALUES (2, 7, NULL, N'Disabled', NULL, NULL)
INSERT [dbo].[AutomaticRenewal] ([AutoRenewalID], [UserID], [RemindMe], [Status], [Type], [RemindMeStatus]) VALUES (3, 10, NULL, N'Disabled', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AutomaticRenewal] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [Name], [RegionID]) VALUES (1, N'Antipolo City', 1)
INSERT [dbo].[Cities] ([CityID], [Name], [RegionID]) VALUES (2, N'Caloocan City', 1)
INSERT [dbo].[Cities] ([CityID], [Name], [RegionID]) VALUES (3, N'Las Piñas City', 1)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[ContactCategory] ON 

INSERT [dbo].[ContactCategory] ([RelationshipID], [Relationship]) VALUES (1, N'Relative')
INSERT [dbo].[ContactCategory] ([RelationshipID], [Relationship]) VALUES (2, N'Friend')
INSERT [dbo].[ContactCategory] ([RelationshipID], [Relationship]) VALUES (3, N'Co-worker')
SET IDENTITY_INSERT [dbo].[ContactCategory] OFF
SET IDENTITY_INSERT [dbo].[CorporateAccounts] ON 

INSERT [dbo].[CorporateAccounts] ([CorporateID], [UserName], [Password], [Name], [NatureOfBusiness], [Address], [Municipality], [City], [Phone], [Fax], [Email], [Others], [Status], [DateAdded], [EmployerCode], [Logo]) VALUES (1, N'mia7dfea81', N'1ARVn2Auq2/WAqx2gNrL+q3RNjAzXpUfCXrzkA6d4Xa22yhRLy4AC50E+6UTPoscbo31nbOoq51gvkuXzJ6B2w==', N'Microsoft', N'Service', N'21 Baker Street', N'Makat', N'Metro Manila', N'5421232', N'5421212', N'support@microsoft.com', N'IT', N'Active', CAST(N'2015-10-24' AS Date), N'a7dfea81', NULL)
INSERT [dbo].[CorporateAccounts] ([CorporateID], [UserName], [Password], [Name], [NatureOfBusiness], [Address], [Municipality], [City], [Phone], [Fax], [Email], [Others], [Status], [DateAdded], [EmployerCode], [Logo]) VALUES (2, N'ap2de9278b', N'1ARVn2Auq2/WAqx2gNrL+q3RNjAzXpUfCXrzkA6d4Xa22yhRLy4AC50E+6UTPoscbo31nbOoq51gvkuXzJ6B2w==', N'Apple', N'Merchandising', N'65 Avenue Broadway', N'Valenzuela', N'Metro Manila', N'6542123', N'65434343', N'cs@apple.com', N'IT', N'Active', CAST(N'2015-10-24' AS Date), N'2de9278b', NULL)
INSERT [dbo].[CorporateAccounts] ([CorporateID], [UserName], [Password], [Name], [NatureOfBusiness], [Address], [Municipality], [City], [Phone], [Fax], [Email], [Others], [Status], [DateAdded], [EmployerCode], [Logo]) VALUES (3, N'he9a9050da', N'1ARVn2Auq2/WAqx2gNrL+q3RNjAzXpUfCXrzkA6d4Xa22yhRLy4AC50E+6UTPoscbo31nbOoq51gvkuXzJ6B2w==', N'Hewlett Packard', N'Other', N'88 Madison Avenue', N'Mango', N'Quezon City', N'25623232', N'23540003', N'it@hp.com', N'IT', N'Active', CAST(N'2015-10-24' AS Date), N'9a9050da', NULL)
SET IDENTITY_INSERT [dbo].[CorporateAccounts] OFF
SET IDENTITY_INSERT [dbo].[CorporatePayments] ON 

INSERT [dbo].[CorporatePayments] ([CorporatePaymentID], [PaymentTerms], [Balance], [CorporateID], [DiscountRate], [Length]) VALUES (1, N'Net 7', CAST(500000.00 AS Decimal(18, 2)), 1, CAST(5 AS Decimal(18, 0)), 5)
INSERT [dbo].[CorporatePayments] ([CorporatePaymentID], [PaymentTerms], [Balance], [CorporateID], [DiscountRate], [Length]) VALUES (2, N'Net 10', CAST(43660.00 AS Decimal(18, 2)), 2, CAST(7 AS Decimal(18, 0)), 5)
INSERT [dbo].[CorporatePayments] ([CorporatePaymentID], [PaymentTerms], [Balance], [CorporateID], [DiscountRate], [Length]) VALUES (3, N'EOM', CAST(18460.00 AS Decimal(18, 2)), 3, CAST(2 AS Decimal(18, 0)), 5)
SET IDENTITY_INSERT [dbo].[CorporatePayments] OFF
SET IDENTITY_INSERT [dbo].[Dependents] ON 

INSERT [dbo].[Dependents] ([DependentID], [FirstName], [LastName], [Birthday], [Relationship], [OtherRel], [MembershipID], [UserID]) VALUES (9, N'Robert Steven', N'Tomas', CAST(N'1993-04-13' AS Date), N'Son', N'Me', 33, 12)
INSERT [dbo].[Dependents] ([DependentID], [FirstName], [LastName], [Birthday], [Relationship], [OtherRel], [MembershipID], [UserID]) VALUES (13, N'Robert Steven', N'Tomas', CAST(N'1993-04-13' AS Date), N'Husband', N'', 34, 12)
INSERT [dbo].[Dependents] ([DependentID], [FirstName], [LastName], [Birthday], [Relationship], [OtherRel], [MembershipID], [UserID]) VALUES (14, N'Robert Steven', N'Tomas', CAST(N'1993-04-13' AS Date), N'Husband', N'', 34, 12)
SET IDENTITY_INSERT [dbo].[Dependents] OFF
SET IDENTITY_INSERT [dbo].[DepositPayments] ON 

INSERT [dbo].[DepositPayments] ([DepositID], [CorporatePaymentID], [DepositSlip], [PaymentDate], [Amount]) VALUES (1, 1, N'3281fb16-5390-4809-8ce8-6e8d9c4287de.jpg', CAST(N'2015-10-25' AS Date), CAST(3000.00 AS Decimal(18, 2)))
INSERT [dbo].[DepositPayments] ([DepositID], [CorporatePaymentID], [DepositSlip], [PaymentDate], [Amount]) VALUES (2, 1, N'24fbf838-1889-481c-a3d6-b00fd8b5cb37.jpg', CAST(N'2015-10-25' AS Date), CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[DepositPayments] ([DepositID], [CorporatePaymentID], [DepositSlip], [PaymentDate], [Amount]) VALUES (3, 2, N'2f86f375-2608-4d36-b834-bfef0e431914', CAST(N'2015-10-25' AS Date), CAST(4000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DepositPayments] OFF
SET IDENTITY_INSERT [dbo].[Dispatch] ON 

INSERT [dbo].[Dispatch] ([DispatchID], [UserID], [Dispatcher], [DispatchDate], [Ambulance], [TeamLeader], [TransportOfficer], [TreatmentOfficer], [ReceivingHospital]) VALUES (1, 12, N'Joseph', CAST(N'2011-01-01' AS Date), N'Charlie', N'Mark', N'Luke', N'John', N'Makati Medical Center')
INSERT [dbo].[Dispatch] ([DispatchID], [UserID], [Dispatcher], [DispatchDate], [Ambulance], [TeamLeader], [TransportOfficer], [TreatmentOfficer], [ReceivingHospital]) VALUES (2, 12, N'Mathew', CAST(N'2011-01-01' AS Date), N'Mark', N'Luke', N'John', N'Johni', N'PGH')
INSERT [dbo].[Dispatch] ([DispatchID], [UserID], [Dispatcher], [DispatchDate], [Ambulance], [TeamLeader], [TransportOfficer], [TreatmentOfficer], [ReceivingHospital]) VALUES (3, 12, N'Mathew', CAST(N'1111-11-11' AS Date), N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Dispatch] OFF
SET IDENTITY_INSERT [dbo].[Exceptions] ON 

INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (3, N'User Management, Corporate Accounts ', N'Exception TypeSystem.Data.SqlClient.SqlException Exception MessageError converting data type nvarchar to numeric.', 12, CAST(N'2015-10-25 17:24:08.087' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (4, N'User Management, Corporate Accounts ', N'Exception Type: System.Data.SqlClient.SqlException Exception Message: Error converting data type nvarchar to numeric.', 12, CAST(N'2015-10-25 17:27:45.970' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (5, N'User Management, Add Corporate Accounts ', N'Exception Type: System.Data.SqlClient.SqlException Exception Message: Error converting data type nvarchar to numeric.', 12, CAST(N'2015-10-25 20:13:22.660' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (16, N'Opportunity Tracking, Add Opportunity', N'Exception Type: System.Data.SqlClient.SqlExceptionException: System.Data.SqlClient.SqlException (0x80131904): Incorrect syntax near '')''.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at Admin_OpportunityTracking_AddOpportunity.btnAdd_OnClick(Object sender, EventArgs e) in d:\OneDrive\Lifeline\Admin\OpportunityTracking\AddOpportunity.aspx.cs:line 38
ClientConnectionId:14602156-2927-412f-ad76-39a5b4f1a7a6
Error Number:102,State:1,Class:15', 12, CAST(N'2015-10-28 06:43:31.567' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (17, N'Opportunity Tracking, Add Opportunity', N'Exception Type: System.Data.SqlClient.SqlExceptionException: System.Data.SqlClient.SqlException (0x80131904): Column name or number of supplied values does not match table definition.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at Admin_OpportunityTracking_AddOpportunity.btnAdd_OnClick(Object sender, EventArgs e) in d:\OneDrive\Lifeline\Admin\OpportunityTracking\AddOpportunity.aspx.cs:line 38
ClientConnectionId:14602156-2927-412f-ad76-39a5b4f1a7a6
Error Number:213,State:1,Class:16', 12, CAST(N'2015-10-28 06:44:10.107' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (18, N'Opportunity Tracking, Add Opportunity', N'Exception Type: System.Data.SqlClient.SqlExceptionException: System.Data.SqlClient.SqlException (0x80131904): Column name or number of supplied values does not match table definition.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at Admin_OpportunityTracking_AddOpportunity.btnAdd_OnClick(Object sender, EventArgs e) in d:\OneDrive\Lifeline\Admin\OpportunityTracking\AddOpportunity.aspx.cs:line 38
ClientConnectionId:30d467e6-6e05-4890-bb96-deede95d2bfe
Error Number:213,State:1,Class:16', 12, CAST(N'2015-10-28 06:45:21.183' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (19, N'Opportunity Tracking, Add Opportunity', N'Exception Type: System.Data.SqlClient.SqlExceptionException: System.Data.SqlClient.SqlException (0x80131904): Column name or number of supplied values does not match table definition.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at Admin_OpportunityTracking_AddOpportunity.btnAdd_OnClick(Object sender, EventArgs e) in d:\OneDrive\Lifeline\Admin\OpportunityTracking\AddOpportunity.aspx.cs:line 38
ClientConnectionId:30d467e6-6e05-4890-bb96-deede95d2bfe
Error Number:213,State:1,Class:16', 12, CAST(N'2015-10-28 06:46:42.923' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (20, N'Opportunity Tracking, Add Opportunity', N'Exception Type: System.Data.SqlClient.SqlExceptionException: System.Data.SqlClient.SqlException (0x80131904): Cannot insert the value NULL into column ''OpportunityID'', table ''dbLifeline.dbo.OpportunityTracking''; column does not allow nulls. INSERT fails.
The statement has been terminated.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at Admin_OpportunityTracking_AddOpportunity.btnAdd_OnClick(Object sender, EventArgs e) in d:\OneDrive\Lifeline\Admin\OpportunityTracking\AddOpportunity.aspx.cs:line 40
ClientConnectionId:14602156-2927-412f-ad76-39a5b4f1a7a6
Error Number:515,State:2,Class:16', 12, CAST(N'2015-10-28 06:48:10.390' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (21, N'Opportunity Tracking, Add Opportunity', N'Exception Type: System.Data.SqlClient.SqlExceptionException: System.Data.SqlClient.SqlException (0x80131904): The parameterized query ''(@ClientName nvarchar(11),@AccountName nvarchar(4),@Rating nvarc'' expects the parameter ''@CloseDate'', which was not supplied.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at Admin_OpportunityTracking_AddOpportunity.btnAdd_OnClick(Object sender, EventArgs e) in d:\OneDrive\Lifeline\Admin\OpportunityTracking\AddOpportunity.aspx.cs:line 40
ClientConnectionId:ff56a184-5331-4922-8418-7ead1177f7ec
Error Number:8178,State:1,Class:16', 12, CAST(N'2015-10-28 06:57:36.890' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (22, N'Opportunity Tracking, Add Opportunity', N'Exception Type: System.Data.SqlClient.SqlExceptionException: System.Data.SqlClient.SqlException (0x80131904): The parameterized query ''(@ClientName nvarchar(11),@AccountName nvarchar(4),@Rating nvarc'' expects the parameter ''@CloseDate'', which was not supplied.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at Admin_OpportunityTracking_AddOpportunity.btnAdd_OnClick(Object sender, EventArgs e) in d:\OneDrive\Lifeline\Admin\OpportunityTracking\AddOpportunity.aspx.cs:line 40
ClientConnectionId:ff56a184-5331-4922-8418-7ead1177f7ec
Error Number:8178,State:1,Class:16', 12, CAST(N'2015-10-28 06:57:46.823' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (23, N'Client Forms, Client Verification Form', N'Exception Type: System.Data.SqlClient.SqlException Exception Message: Cannot insert the value NULL into column ''ScanID'', table ''dbLifeline.dbo.Verification''; column does not allow nulls. INSERT fails.
The statement has been terminated.', 40, CAST(N'2016-01-29 06:48:08.447' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (24, N'Client Forms, Client Verification Form', N'Exception Type: System.Data.SqlClient.SqlException Exception Message: Cannot insert the value NULL into column ''ScanID'', table ''dbLifeline.dbo.Verification''; column does not allow nulls. INSERT fails.
The statement has been terminated.', 40, CAST(N'2016-01-29 06:49:04.550' AS DateTime))
INSERT [dbo].[Exceptions] ([ExceptionID], [Page], [Description], [UserID], [Timestamp]) VALUES (32, N'Membership Application - Payment', N'System.FormatException: The specified string is not in the form required for an e-mail address.
   at System.Net.Mail.MailAddressParser.ReadCfwsAndThrowIfIncomplete(String data, Int32 index)
   at System.Net.Mail.MailAddressParser.ParseDomain(String data, Int32& index)
   at System.Net.Mail.MailAddressParser.ParseAddress(String data, Boolean expectMultipleAddresses, Int32& index)
   at System.Net.Mail.MailAddressParser.ParseMultipleAddresses(String data)
   at System.Net.Mail.MailAddressCollection.ParseValue(String addresses)
   at System.Net.Mail.MailAddressCollection.Add(String addresses)
   at Helper.DepositConfirmation(String recipient, String body) in c:\Users\steve\Documents\Repo\Lifeline-CRM\App_Code\Helper.cs:line 155
   at Account_ClientForms_MembershipApplicationTwo.btnSubmit_Click(Object sender, EventArgs e) in c:\Users\steve\Documents\Repo\Lifeline-CRM\Account\ClientForms\MembershipApplicationTwo.aspx.cs:line 203', 1041, CAST(N'2016-03-11 22:26:39.057' AS DateTime))
SET IDENTITY_INSERT [dbo].[Exceptions] OFF
SET IDENTITY_INSERT [dbo].[Hospitals] ON 

INSERT [dbo].[Hospitals] ([HospitalID], [HospitalName], [Address], [Municipality], [City], [DateAdded], [DateModified]) VALUES (1, N'Makati Medical Center', N'Amorsolo St, Legazpi Village', N'', N'Makati City', CAST(N'2016-02-25' AS Date), CAST(N'2016-02-25' AS Date))
INSERT [dbo].[Hospitals] ([HospitalID], [HospitalName], [Address], [Municipality], [City], [DateAdded], [DateModified]) VALUES (2, N'Baesa Advent Polytechnic', N'238 Deparo St., Baesa', N'', N'Caloocan City', CAST(N'2016-02-25' AS Date), CAST(N'2016-02-25' AS Date))
INSERT [dbo].[Hospitals] ([HospitalID], [HospitalName], [Address], [Municipality], [City], [DateAdded], [DateModified]) VALUES (3, N'Cardinal Santos Medical Center', N'Wilson St. Greenhills West', N'', N'San Juan City', CAST(N'2016-02-25' AS Date), CAST(N'2016-02-25' AS Date))
SET IDENTITY_INSERT [dbo].[Hospitals] OFF
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogsID], [UserID], [LogType], [Description], [Timestamp], [Specifics]) VALUES (57, 41, N'Membership Renewal', N'Deposit slip submission', CAST(N'2015-10-20' AS Date), N'56')
INSERT [dbo].[Logs] ([LogsID], [UserID], [LogType], [Description], [Timestamp], [Specifics]) VALUES (59, 41, N'Membership Renewal', N'Deposit slip submission', CAST(N'2015-10-20' AS Date), N'39')
INSERT [dbo].[Logs] ([LogsID], [UserID], [LogType], [Description], [Timestamp], [Specifics]) VALUES (60, 40, N'Membership Renewal', N'', CAST(N'2015-10-20' AS Date), N'57')
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
SET IDENTITY_INSERT [dbo].[MedicalHistory] ON 

INSERT [dbo].[MedicalHistory] ([MedHistoryID], [UserID], [DispatchID], [Operation], [Details], [StartDate], [EndDate]) VALUES (1, 12, 1, N'Confinement', N'Fever', CAST(N'2001-01-01' AS Date), CAST(N'2001-01-02' AS Date))
INSERT [dbo].[MedicalHistory] ([MedHistoryID], [UserID], [DispatchID], [Operation], [Details], [StartDate], [EndDate]) VALUES (2, 12, 2, N'Surgery', N'Head', CAST(N'2002-02-02' AS Date), CAST(N'2002-03-03' AS Date))
INSERT [dbo].[MedicalHistory] ([MedHistoryID], [UserID], [DispatchID], [Operation], [Details], [StartDate], [EndDate]) VALUES (6, 12, 3, N'General Checkup', N'Fine', CAST(N'1111-11-11' AS Date), CAST(N'1111-11-11' AS Date))
SET IDENTITY_INSERT [dbo].[MedicalHistory] OFF
SET IDENTITY_INSERT [dbo].[MedicalInfo] ON 

INSERT [dbo].[MedicalInfo] ([MedicalInfoID], [UserID], [BloodType], [Allergies], [CancerHis], [HeartHis], [AsthmaHis], [EpilepsyHis], [LiverHis], [Others]) VALUES (1, 12, N'B', N'', N'None', N'Yes', N'Yes', N'None', N'None', N'')
INSERT [dbo].[MedicalInfo] ([MedicalInfoID], [UserID], [BloodType], [Allergies], [CancerHis], [HeartHis], [AsthmaHis], [EpilepsyHis], [LiverHis], [Others]) VALUES (4, 40, N'A', N'', N'None', N'None', N'None', N'None', N'None', N'')
INSERT [dbo].[MedicalInfo] ([MedicalInfoID], [UserID], [BloodType], [Allergies], [CancerHis], [HeartHis], [AsthmaHis], [EpilepsyHis], [LiverHis], [Others]) VALUES (5, 6, N'A', N'', N'None', N'Yes', N'None', N'Yes', N'Yes', N'')
SET IDENTITY_INSERT [dbo].[MedicalInfo] OFF
SET IDENTITY_INSERT [dbo].[Memberships] ON 

INSERT [dbo].[Memberships] ([MembershipID], [UserID], [StartDate], [EndDate], [Length], [MembershipStatus], [Type]) VALUES (19, 40, CAST(N'2016-01-11' AS Date), CAST(N'2019-10-15' AS Date), 4, N'Inactive', N'Individual')
INSERT [dbo].[Memberships] ([MembershipID], [UserID], [StartDate], [EndDate], [Length], [MembershipStatus], [Type]) VALUES (20, 40, CAST(N'2016-01-12' AS Date), CAST(N'2016-10-15' AS Date), 1, N'Active', N'Individual')
INSERT [dbo].[Memberships] ([MembershipID], [UserID], [StartDate], [EndDate], [Length], [MembershipStatus], [Type]) VALUES (21, 40, CAST(N'2016-01-13' AS Date), CAST(N'2017-10-16' AS Date), 2, N'Inactive', N'Household')
SET IDENTITY_INSERT [dbo].[Memberships] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (1, N'Feedback', N'User Interface', N' Excellent ', CAST(N'2015-10-03 00:11:43.620' AS DateTime), N'Very Gooood!', 12, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (2, N'Feedback', N'User Interface', N' Excellent ', CAST(N'2015-10-03 00:13:48.827' AS DateTime), N'Very Gooood!', 12, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (3, N'Feedback', N'User Interface', N'', CAST(N'2015-10-03 00:36:48.220' AS DateTime), N'', 12, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (12, N'Issues/Inquiries', N'Client Account Request', N'Request for client account', CAST(N'2015-10-05 13:10:15.253' AS DateTime), N'Robert Steven Tomas
steven.tomas01@gmail.com', 12, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (13, N'Issues/Inquiries', N'Client Account Request', N'Request for client account', CAST(N'2015-10-05 13:12:44.127' AS DateTime), N'Robert Steven Tomas
steven.tomas01@gmail.com', 12, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (20, N'Feedback', N'Website functionality', N' Bad ', CAST(N'2015-10-18 18:22:48.610' AS DateTime), N'<p>
	<strong>Something is not right!!</strong></p>
', 40, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (21, N'Issues/Inquiries', N'Account/Membership Issues', N'Renewal cancellation', CAST(N'2015-10-18 20:43:29.673' AS DateTime), N'<p>
	<span style="font-size:16px;"><span style="font-family:tahoma,geneva,sans-serif;">Please remove my recent renewal, it was a mistake.&nbsp;<img alt="smiley" height="20" src="http://localhost:6202/ckeditor/plugins/smiley/images/regular_smile.gif" title="smiley" width="20" /></span></span></p>
<p>
	<span style="font-size:16px;"><span style="font-family:tahoma,geneva,sans-serif;">Thanks,</span></span></p>
<p>
	<span style="font-size:16px;"><span style="font-family:tahoma,geneva,sans-serif;">Steven</span></span></p>
', 40, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (22, N'Feedback', N'User Interface', N' Good ', CAST(N'2015-10-19 18:04:02.163' AS DateTime), N'<p>
	Test</p>
', 40, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (23, N'Feedback', N'Service/Dispatch Quality', N' Very Good ', CAST(N'2015-10-19 19:08:28.293' AS DateTime), N'<p>
	Tester</p>
', 1041, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (24, N'Feedback', N'User Interface', N' Excellent ', CAST(N'2015-10-19 19:23:03.390' AS DateTime), N'<p>
	Tessssssssssst</p>
', 1041, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (25, N'Feedback', N'User Interface', N' Bad ', CAST(N'2015-10-19 19:41:00.643' AS DateTime), N'<p>
	Testerrrrr</p>
', 1042, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (26, N'Feedback', N'User Interface', N' Bad ', CAST(N'2015-10-19 19:42:00.580' AS DateTime), N'<p>
	Testerrrrr</p>
', 1042, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (27, N'Feedback', N'User Interface', N' Bad ', CAST(N'2015-10-19 19:42:19.977' AS DateTime), N'<p>
	Testerrrrr</p>
', 1042, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (28, N'Feedback', N'User Interface', N' Excellent ', CAST(N'2015-10-19 19:45:36.750' AS DateTime), N'<p>
	TY</p>
', 1042, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (29, N'Feedback', N'User Interface', N' Excellent ', CAST(N'2015-10-19 19:47:21.147' AS DateTime), N'<p>
	TY</p>
', 1042, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (30, N'Feedback', N'User Interface', N' Very Good ', CAST(N'2015-10-19 19:53:45.333' AS DateTime), N'<p>
	Again</p>
', 1042, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (31, N'Feedback', N'Service/Dispatch Quality', N' Very Good ', CAST(N'2015-10-20 00:04:08.473' AS DateTime), N'<p>
	Try message</p>
', 41, N'john.wayne@email.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (32, N'Feedback', N'Customer Care Representative', N' Very Good ', CAST(N'2015-10-20 20:00:20.400' AS DateTime), N'<p>
	Very good CS!&nbsp;</p>
', 40, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (33, N'Issues/Inquiries', N'Error Pages', N'Renewals Error404', CAST(N'2015-10-20 20:48:50.747' AS DateTime), N'<p>
	Cant renew my transaction</p>
', 40, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (35, N'Feedback', N'User Interface', N' Very Good ', CAST(N'2015-10-21 00:18:54.100' AS DateTime), N'<p>
	Great</p>
', 40, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (36, N'Feedback', N'Website functionality', N' Very Good ', CAST(N'2015-10-22 02:50:08.937' AS DateTime), N'<p>
	Excellent!</p>
', 1050, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (37, N'Issues/Inquiries', N'Incorrect records', N'Medical Info', CAST(N'2015-10-22 02:51:53.833' AS DateTime), N'<p>
	The info displaying is inaccurate, please change thanks!</p>
', 1050, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (1036, N'Feedback', N'User Interface', N' Good ', CAST(N'2015-10-22 22:59:02.210' AS DateTime), N'<p>
	Very G!</p>
', 36, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (1037, N'Issues/Inquiries', N'Error Pages', N'Error 404', CAST(N'2015-10-23 03:52:01.333' AS DateTime), N'<p>
	Renewal Page</p>
', 1050, N'steven.tomas01@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (2036, N'Feedback', N'Customer Care Representative', N' Excellent ', CAST(N'2015-10-23 19:05:35.313' AS DateTime), N'<p>
 Great!</p>
', 12, N'steven1@email.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (2042, N'Issues/Inquiries', N'Incorrect records', N'Medical/Dispatch Information', CAST(N'2015-10-29 10:23:15.410' AS DateTime), N'Inaccurate information regarding the date and medical event, please update with the necessary ones.

Thank you', 12, N'steven.tomas01@gmail.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (2043, N'Feedback', N'User Interface', N' Excellent ', CAST(N'2016-02-20 17:49:40.560' AS DateTime), N'Hello
', 2052, N'mjay@email.com', N'Read')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (2085, N'Feedback', N'User Interface', N' Excellent ', CAST(N'2016-03-11 21:12:01.807' AS DateTime), N'Feedback error test
', 35, N'123@gmail.com', N'Unread')
INSERT [dbo].[Messages] ([MessageID], [Category], [MessageCat], [Subject], [DateSubmitted], [Message], [UserID], [Email], [Status]) VALUES (2086, N'Feedback', N'User Interface', N' Excellent ', CAST(N'2016-03-11 21:12:47.940' AS DateTime), N'Feedback error test
', 35, N'123@gmail.com', N'Unread')
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[OpportunityActivity] ON 

INSERT [dbo].[OpportunityActivity] ([OpportunityActivityID], [Type], [StartDate], [EndDate], [AllDay], [Subject], [Location], [Description], [Status], [Label], [ResourceID], [ResourceIDs], [ReminderInfo], [RecurrenceInfo], [CustomField], [OpportunityID]) VALUES (1, 0, CAST(N'2015-10-29' AS Date), CAST(N'2015-10-30' AS Date), 1, N'First Meeting', N'SM', NULL, 1, 7, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[OpportunityActivity] ([OpportunityActivityID], [Type], [StartDate], [EndDate], [AllDay], [Subject], [Location], [Description], [Status], [Label], [ResourceID], [ResourceIDs], [ReminderInfo], [RecurrenceInfo], [CustomField], [OpportunityID]) VALUES (2, 0, CAST(N'2015-10-29' AS Date), CAST(N'2015-10-30' AS Date), 0, N'Second Meeting', N'Vito Cruz', N'Planning', 0, 5, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[OpportunityActivity] ([OpportunityActivityID], [Type], [StartDate], [EndDate], [AllDay], [Subject], [Location], [Description], [Status], [Label], [ResourceID], [ResourceIDs], [ReminderInfo], [RecurrenceInfo], [CustomField], [OpportunityID]) VALUES (3, 0, NULL, NULL, 1, N'Lunch meeting', N'Vito Cruz', NULL, 0, 0, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OpportunityActivity] OFF
SET IDENTITY_INSERT [dbo].[OpportunityTracking] ON 

INSERT [dbo].[OpportunityTracking] ([OpportunityID], [ClientName], [AccountName], [Rating], [Details], [Source], [DateAdded], [DateModified], [CloseDate], [Amount], [Probability], [Stage], [Type], [PhoneNo], [Email], [Priority]) VALUES (1, N'Container C', N'Black Mesa', N'Warm', N'Misc materials', N'New Business', CAST(N'2015-10-28' AS Date), CAST(N'2016-02-20' AS Date), CAST(N'2016-01-20' AS Date), CAST(50000.00 AS Decimal(18, 2)), CAST(60 AS Decimal(18, 0)), N'Lead', N'New Business', N'546424545', N'steelmills@email.com', N'Normal')
INSERT [dbo].[OpportunityTracking] ([OpportunityID], [ClientName], [AccountName], [Rating], [Details], [Source], [DateAdded], [DateModified], [CloseDate], [Amount], [Probability], [Stage], [Type], [PhoneNo], [Email], [Priority]) VALUES (2, N'Test C Chamber', N'Black Mesa', N'Cold', N'Test materials', N'Other', CAST(N'2015-10-28' AS Date), CAST(N'2015-10-28' AS Date), CAST(N'2016-10-11' AS Date), CAST(8000.00 AS Decimal(18, 2)), CAST(15 AS Decimal(18, 0)), N'Lead', N'Other', N'546424545', N'hl3confirmed@email.com', N'High')
INSERT [dbo].[OpportunityTracking] ([OpportunityID], [ClientName], [AccountName], [Rating], [Details], [Source], [DateAdded], [DateModified], [CloseDate], [Amount], [Probability], [Stage], [Type], [PhoneNo], [Email], [Priority]) VALUES (3, N'Gen-3 Material ', N'Black Mesa', N'Hot', N'AB3 ', N'Existing Business', CAST(N'2015-10-28' AS Date), CAST(N'2015-10-28' AS Date), CAST(N'2016-01-31' AS Date), CAST(50000.00 AS Decimal(18, 2)), CAST(10 AS Decimal(18, 0)), N'Lead', N'Existing Business', N'2231233', N'hl3confirmed@email.com', N'Normal')
SET IDENTITY_INSERT [dbo].[OpportunityTracking] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [PaymentStatus], [Amount], [DepositSlip], [MembershipID]) VALUES (28, N'Unpaid', CAST(4000.00 AS Decimal(18, 2)), N'', 19)
INSERT [dbo].[Payments] ([PaymentID], [PaymentStatus], [Amount], [DepositSlip], [MembershipID]) VALUES (29, N'Paid', CAST(1000.00 AS Decimal(18, 2)), N'a76eb380-7e71-4d7f-a2c7-0e94f234b335.jpg', 20)
INSERT [dbo].[Payments] ([PaymentID], [PaymentStatus], [Amount], [DepositSlip], [MembershipID]) VALUES (30, N'Unpaid', CAST(6000.00 AS Decimal(18, 2)), N'', 21)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[Recover] ON 

INSERT [dbo].[Recover] ([RecoverID], [UserID], [RecoveryCode]) VALUES (10, 2057, N'c1c2aaec-d448-4c54-88d2-6d8b0d5469d2')
SET IDENTITY_INSERT [dbo].[Recover] OFF
SET IDENTITY_INSERT [dbo].[RenewalVoids] ON 

INSERT [dbo].[RenewalVoids] ([VoidID], [MembershipID], [Timestamp], [Reason]) VALUES (1, 59, CAST(N'2015-10-22 03:56:46.017' AS DateTime), N'Nothing')
SET IDENTITY_INSERT [dbo].[RenewalVoids] OFF
SET IDENTITY_INSERT [dbo].[Responder] ON 

INSERT [dbo].[Responder] ([ResponderID], [FirstName], [LastName], [Title], [Status], [DateAdded], [DateModified]) VALUES (1, N'Mary Jane', N'Santos', N'Team Leader', N'Inactive', CAST(N'2016-02-25' AS Date), CAST(N'2016-03-04' AS Date))
INSERT [dbo].[Responder] ([ResponderID], [FirstName], [LastName], [Title], [Status], [DateAdded], [DateModified]) VALUES (2, N'Juan', N'De La Cruz', N'Transport Officer', N'Active', CAST(N'2016-02-25' AS Date), CAST(N'2016-02-25' AS Date))
INSERT [dbo].[Responder] ([ResponderID], [FirstName], [LastName], [Title], [Status], [DateAdded], [DateModified]) VALUES (3, N'John', N'Bay', N'Transport Officer', N'Active', CAST(N'2016-02-25' AS Date), CAST(N'2016-02-25' AS Date))
SET IDENTITY_INSERT [dbo].[Responder] OFF
SET IDENTITY_INSERT [dbo].[SecondaryContact] ON 

INSERT [dbo].[SecondaryContact] ([SecondaryContactID], [UserID], [FirstName], [LastName], [TelNo], [MobileNo], [RelationshipID], [Others]) VALUES (1, 11, N'Secondary', N'Contact', N'1235677', N'12345443267', 1, N'')
INSERT [dbo].[SecondaryContact] ([SecondaryContactID], [UserID], [FirstName], [LastName], [TelNo], [MobileNo], [RelationshipID], [Others]) VALUES (2, 11, N'Contact', N'Two', N'1231232323', N'1541354545', 5, N'Shitbrix')
INSERT [dbo].[SecondaryContact] ([SecondaryContactID], [UserID], [FirstName], [LastName], [TelNo], [MobileNo], [RelationshipID], [Others]) VALUES (3, 12, N'Chato', N'Tomas', N'868-1232', N'11111111111', 1, N'')
SET IDENTITY_INSERT [dbo].[SecondaryContact] OFF
SET IDENTITY_INSERT [dbo].[Surveys] ON 

INSERT [dbo].[Surveys] ([SurveyID], [UserID], [QuestionOne], [QuestionTwo], [QuestionThree], [QuestionFour], [QuestionFive], [QuestionSix], [QuestionSeven], [QuestionEight], [QuestionNine], [QuestionTen], [Comments], [DateSubmitted]) VALUES (1, 12, N'Very Satisfied', N'Somewhat Satisfed', N'Neutral', N'Neutral', N'Somewhat Dissatisfied', N'Neutral', N'Very Dissatisfied', N'Very Dissatisfied', N'Very Dissatisfied', N'Somewhat Dissatisfied', N'Nothingg!', CAST(N'2015-10-11' AS Date))
INSERT [dbo].[Surveys] ([SurveyID], [UserID], [QuestionOne], [QuestionTwo], [QuestionThree], [QuestionFour], [QuestionFive], [QuestionSix], [QuestionSeven], [QuestionEight], [QuestionNine], [QuestionTen], [Comments], [DateSubmitted]) VALUES (2, 12, N'Somewhat Satisfed', N'Somewhat Satisfed', N'Very Satisfied', N'Somewhat Satisfed', N'Somewhat Satisfed', N'Neutral', N'Somewhat Satisfed', N'Neutral', N'Neutral', N'Neutral', N'', CAST(N'2015-10-11' AS Date))
INSERT [dbo].[Surveys] ([SurveyID], [UserID], [QuestionOne], [QuestionTwo], [QuestionThree], [QuestionFour], [QuestionFive], [QuestionSix], [QuestionSeven], [QuestionEight], [QuestionNine], [QuestionTen], [Comments], [DateSubmitted]) VALUES (3, 40, N'Somewhat Satisfed', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'', CAST(N'2015-10-20' AS Date))
INSERT [dbo].[Surveys] ([SurveyID], [UserID], [QuestionOne], [QuestionTwo], [QuestionThree], [QuestionFour], [QuestionFive], [QuestionSix], [QuestionSeven], [QuestionEight], [QuestionNine], [QuestionTen], [Comments], [DateSubmitted]) VALUES (1004, 1050, N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'Very Satisfied', N'<p>
	I hope this information would be useful!</p>
', CAST(N'2015-10-23' AS Date))
SET IDENTITY_INSERT [dbo].[Surveys] OFF
SET IDENTITY_INSERT [dbo].[TempTable] ON 

INSERT [dbo].[TempTable] ([TempID], [DataA], [DataB]) VALUES (1, 1, N'2016-02-05')
INSERT [dbo].[TempTable] ([TempID], [DataA], [DataB]) VALUES (2, 7, N'2016-02-10')
INSERT [dbo].[TempTable] ([TempID], [DataA], [DataB]) VALUES (3, 1, N'2016-02-11')
SET IDENTITY_INSERT [dbo].[TempTable] OFF
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([TypeID], [UserType]) VALUES (1, N'Guest')
INSERT [dbo].[Types] ([TypeID], [UserType]) VALUES (5, N'Pending Client')
INSERT [dbo].[Types] ([TypeID], [UserType]) VALUES (9, N'Client')
SET IDENTITY_INSERT [dbo].[Types] OFF
SET IDENTITY_INSERT [dbo].[UserActivation] ON 

INSERT [dbo].[UserActivation] ([ActivationID], [UserID], [ActivationCode]) VALUES (8, 1047, N'602cf56b-1a56-46c8-85d1-b485e0b172aa')
INSERT [dbo].[UserActivation] ([ActivationID], [UserID], [ActivationCode]) VALUES (9, 1049, N'20e5c27c-dc11-4c79-a4aa-463bccdfc2a8')
INSERT [dbo].[UserActivation] ([ActivationID], [UserID], [ActivationCode]) VALUES (1009, 2050, N'36899fb2-8b0c-49e6-8892-e9ca80527367')
SET IDENTITY_INSERT [dbo].[UserActivation] OFF
SET IDENTITY_INSERT [dbo].[UserIP] ON 

INSERT [dbo].[UserIP] ([UserIPID], [UserID], [IPAddr]) VALUES (1, 2056, N'127.0.0.1')
SET IDENTITY_INSERT [dbo].[UserIP] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Verification] ON 

INSERT [dbo].[Verification] ([ScanID], [UserID], [VerificationScan], [UploadDate]) VALUES (1, 40, N'cd589569-78f7-409b-9119-bedc0962173b.jpg', CAST(N'2016-01-29' AS Date))
INSERT [dbo].[Verification] ([ScanID], [UserID], [VerificationScan], [UploadDate]) VALUES (2, 40, N'0499abb9-8315-4aa3-8d60-4fe126e71c89.jpg', CAST(N'2016-01-29' AS Date))
INSERT [dbo].[Verification] ([ScanID], [UserID], [VerificationScan], [UploadDate]) VALUES (3, 2051, N'691ecd6f-dd4d-49bb-911a-0a09e4ea9779.jpg', CAST(N'2016-01-29' AS Date))
SET IDENTITY_INSERT [dbo].[Verification] OFF
ALTER TABLE [dbo].[Dispatch]  WITH CHECK ADD  CONSTRAINT [FK_Dispatch_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Dispatch] CHECK CONSTRAINT [FK_Dispatch_Users]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Users]
GO
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [FK_Membership_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [FK_Membership_Users]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Types1] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([TypeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Types1]
GO
USE [master]
GO
